<!--====== Start Partners Section ======-->
<section class="partners-section black-dark-bg">
  <div class="container">
    <!--=== Partners Slider ===-->
    <div #slick class="partner-slider-one pt-80 pb-70 wow fadeInUp">
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-6.png" alt="Partner Image"></a>
        </div>
      </div>
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-7.png" alt="Partner Image"></a>
        </div>
      </div>
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-8.png" alt="Partner Image"></a>
        </div>
      </div>
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-9.png" alt="Partner Image"></a>
        </div>
      </div>
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-10.png" alt="Partner Image"></a>
        </div>
      </div>
      <!--=== Partner Item ===-->
      <div class="single-partner-item">
        <div class="partner-img">
          <a href="#"><img src="../../../../../assets/user/images/partner/partner-7.png" alt="Partner Image"></a>
        </div>
      </div>
    </div>
  </div>
</section><!--====== End Partners Section ======-->
