<!--=== Place Slider ===-->
<div class="place-slider-area overflow-hidden wow fadeInUp">
  <div #slick class="place-slider">
    <div class="place-slider-item">
      <div class="place-img">
        <img src="./assets/user/images/place/single-place-1.jpg" alt="Place Image">
      </div>
    </div>
    <div class="place-item">
      <div class="place-img">
        <img src="./assets/user/images/place/single-place-2.jpg" alt="Place Image">
      </div>
    </div>
    <div class="place-slider-item">
      <div class="place-img">
        <img src="./assets/user/images/place/single-place-3.jpg" alt="Place Image">
      </div>
    </div>
    <div class="place-slider-item">
      <div class="place-img">
        <img src="./assets/user/images/place/single-place-2.jpg" alt="Place Image">
      </div>
    </div>
  </div>
</div>
