<!--====== Start Service Section ======-->
<section class="service-section-two black-bg pt-100 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7">
        <!--=== Section Title ===-->
        <div class="section-title text-center text-white mb-45 wow fadeInDown">
          <span class="sub-title">Popular Services</span>
          <h2>Amazing Adventure Camping
            Services for Enjoyed</h2>
        </div>
      </div>
    </div>
    <div #slick class="slider-active-3-item wow fadeInUp">
      <!--=== Single Service Item ===-->
      <div class="single-service-item-four">
        <div class="img-holder">
          <img src="../../../../assets/user/images/service/service-7.jpg" alt="Service Image">
        </div>
        <div class="content">
          <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
          <h3 class="title">Classic Tents</h3>
          <p>Sit amet consecteturauris natoque name
            pellentue augue mattis faucibus</p>
          <div class="meta">
            <span class="icon"><i class="flaticon-blanket"></i></span>
            <span class="icon"><i class="flaticon-cat"></i></span>
            <span class="icon"><i class="flaticon-tent"></i></span>
            <span class="icon"><i class="flaticon-fire"></i></span>
          </div>
          <div class="action-btn">
            <a href="tour-details.html" class="main-btn primary-btn">Read More<i class="far fa-paper-plane"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Service Item ===-->
      <div class="single-service-item-four">
        <div class="img-holder">
          <img src="../../../../assets/user/images/service/service-8.jpg" alt="Service Image">
        </div>
        <div class="content">
          <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
          <h3 class="title">Glamping Cabin</h3>
          <p>Sit amet consecteturauris natoque name
            pellentue augue mattis faucibus</p>
          <div class="meta">
            <span class="icon"><i class="flaticon-blanket"></i></span>
            <span class="icon"><i class="flaticon-cat"></i></span>
            <span class="icon"><i class="flaticon-tent"></i></span>
            <span class="icon"><i class="flaticon-fire"></i></span>
          </div>
          <div class="action-btn">
            <a href="tour-details.html" class="main-btn primary-btn">Read More<i class="far fa-paper-plane"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Service Item ===-->
      <div class="single-service-item-four">
        <div class="img-holder">
          <img src="../../../../assets/user/images/service/service-9.jpg" alt="Service Image">
        </div>
        <div class="content">
          <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
          <h3 class="title">RV Luxury Tent</h3>
          <p>Sit amet consecteturauris natoque name
            pellentue augue mattis faucibus</p>
          <div class="meta">
            <span class="icon"><i class="flaticon-blanket"></i></span>
            <span class="icon"><i class="flaticon-cat"></i></span>
            <span class="icon"><i class="flaticon-tent"></i></span>
            <span class="icon"><i class="flaticon-fire"></i></span>
          </div>
          <div class="action-btn">
            <a href="tour-details.html" class="main-btn primary-btn">Read More<i class="far fa-paper-plane"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--=== Text Box ===-->
    <div class="big-text pt-100 wow fadeInDown">
      <img src="../../../../assets/user/images/bg/adventure.png" alt="Adventure">
    </div>
  </div>
</section><!--====== End Service Section ======-->
