<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
  <div class="container-fluid">
    <div #slick class="slider-active-5-item wow fadeInUp">
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-1.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-1.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-2.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-2.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-3.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-3.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-4.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-4.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-5.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-5.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <!--=== Single Gallery Item ===-->
      <div class="single-gallery-item">
        <div class="gallery-img">
          <img src="./assets/user/images/gallery/gl-3.jpg" alt="Gallery Image">
          <div class="hover-overlay">
            <a href="./assets/user/images/gallery/gl-3.jpg" class="icon-btn img-popup"><i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--====== End Gallery Section ======-->
