<!--====== Start Features Section ======-->
<section class="features-section gray-bg pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title mb-55 wow fadeInLeft">
          <span class="sub-title">What We Provide</span>
          <h2>Most Funning Company
            Travel and Tours</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <!--=== Features Content Box ===-->
        <div class="features-content-box pl-lg-70 wow fadeInRight">
          <p class="mb-25">Sit amet consectetue integer eu tincidunt scelerisque. Sodales
            volutpat neque fermentum alesuada scelerisque massa.</p>
          <div class="row justify-content-center">
            <div class="col-sm-4 col-6">
              <!--=== Counter Item ===-->
              <div  class="counter-item mb-55">
                <h2 class="number"><span #counterElement1 class="count">356</span>+</h2>
                <p>Happy Traveler</p>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <!--=== Counter Item ===-->
              <div  class="counter-item mb-55">
                <h2 class="number"><span #counterElement2 class="count">852</span>+</h2>
                <p>Tent Sites</p>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <!--=== Counter Item ===-->
              <div  class="counter-item mb-55">
                <h2 class="number"><span #counterElement3 class="count">99</span>%</h2>
                <p>Positive Reviews</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=== Features Slider ===-->
    <div #slick class="slider-active-5-item wow fadeInUp">
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-10.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Wadi Musa, Ma'an
            Governorate, Jordan</h6>
        </div>
      </div>
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-11.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Tambon Ko Kut, จ.ตราด, Thailand</h6>
        </div>
      </div>
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-12.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Camper Trailer,
            New York</h6>
        </div>
      </div>
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-13.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Wadi Musa, Ma'an
            Governorate, Jordan</h6>
        </div>
      </div>
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-14.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Forest Tent Camping,
            South Africa</h6>
        </div>
      </div>
      <!--=== Features Item ===-->
      <div class="single-features-item-three">
        <div class="img-holder">
          <img src="../../../../assets/user/images/features/feat-12.jpg" alt="Features Image">
        </div>
        <div class="content">
          <h6>Camper Trailer,
            New York</h6>
        </div>
      </div>
    </div>
  </div>
</section><!--====== End Features Section ======-->
