<section class="page-section login-page">
  <div class="full-width-screen">
    <div class="container-fluid">
      <div class="content-detail">
        <div class="main-info">
          <div class="hero-container">
            <!-- Forgot form -->
            <form class="forgot-form" method="post">
              <div class="imgcontainer">
                <a [routerLink]="['/index']"><img src="./assets/user/images/logo/logo-black.png" alt="Avatar" class="avatar"></a>
              </div>
              <div class="input-control">
                <p>Enter your email, we will send a link to reset your password.</p>
                <input type="email" placeholder="Enter your email" name="email" required>
                <div class="login-btns">
                  <button type="submit">Reset</button>
                </div>
                <div class="login-with-btns">
                  <span class="already-acc">Retern to<a [routerLink]="['/login']" class="login-btn">Login</a></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
