<!doctype html>
<html lang="en">
<head>
  <base href="/">
  <!--====== Required meta tags ======-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Adventure, Tours, Travel">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--====== Title ======-->
  <title>Gowilds - Tours and Travel HTML Template</title>
  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="/../assets/user/images/favicon.ico" type="image/png">
  <!--====== Google Fonts ======-->
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  <!--====== Flaticon css ======-->
  <link rel="stylesheet" href="/../assets/user/fonts/flaticon/flaticon_gowilds.css">
  <!--====== FontAwesome css ======-->
  <link rel="stylesheet" href="/../assets/user/fonts/fontawesome/css/all.min.css">
  <!--====== Bootstrap css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/bootstrap/css/bootstrap.min.css">
  <!--====== magnific-popup css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/magnific-popup/dist/magnific-popup.css">
  <!--====== Slick-popup css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/slick/slick.css">
  <!--====== Jquery UI css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/jquery-ui/jquery-ui.min.css">
  <!--====== Nice Select css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/nice-select/css/nice-select.css">
  <!--====== Animate css ======-->
  <link rel="stylesheet" href="/../assets/user/vendor/animate.css">
  <!--====== Default css ======-->
  <link rel="stylesheet" href="/../assets/user/css/default.css">
  <!--====== Style css ======-->
  <link rel="stylesheet" href="/../assets/user/css/style.css">
</head>
<body>

<router-outlet></router-outlet>

<!--====== Back To Top  ======-->
<a href="#" class="back-to-top" ><i class="far fa-angle-up"></i></a>

</body>
</html>
